.about {
  // padding: 60px 0;
}

.about__title-wrapper {
  margin-bottom: 42px;


  @include tablet {
    margin-bottom: 46px;
  }

  @include desktop {
    margin-bottom: 57px;

    .title__decoration {
      top: -40px;
    }
  }
}
