.hero {
  background-color: $color-bg-dark;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 100px;
  }
}


// Each slide
.hero__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 568px;

  @include tablet {
    min-height: 1034px;
  }

  @include desktop {
    min-height: 800px;
  }
}

// Background image
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 0;
}

// Container positioning
.hero__slide .container {
  position: relative;
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 568px;
  margin: 0;

  @include tablet {
    min-height: 1034px;
  }

  @include desktop {
    min-height: 800px;
    justify-content: flex-end;
  }
}

// // Content area
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;

  @include tablet {
    margin-bottom: 402px;
  }

  @include desktop {
    align-items: flex-start;
    margin-bottom: 80px;
    justify-content: flex-end;
  }
}

.hero__content h2 {
  max-width: 290px;
  font-size: 26px;
  line-height: 26px;
  font-weight: $font-weight-extrabold;
  color: $color-text-inverse;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 15px;

  @include tablet {
    max-width: 670px;
    font-size: 56px;
    line-height: 56px;
  }

  @include desktop {
    max-width:960px;
    font-size: 77px;
    line-height: 77px;
    text-align: left;
    padding-left: 0;
    padding: 0;
    margin-right: auto;
    margin-bottom: 25px;
  }
}

.hero__content p {
  max-width: 290px;
  font-size: 15px;
  line-height: 20px;
  color: $color-text-inverse;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 60px;

  @include tablet {
    max-width: 493px;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 35px;
  }

  @include desktop {
    max-width: 430px;
    text-align: left;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 0;
    margin-bottom: 35px;
  }
}

// Button positioning in hero content
.hero__button {
  width: 180px;
  min-height: 56px;
  text-align: center;

  @include desktop {
    margin-right: auto;
    margin-bottom: 134px;
  }
}


// Details positioning in hero content
.hero__details {
  display: none;

  @include desktop {
    display: flex;
    gap: 10px;
    margin-right: auto;
  }
}

.hero__detail {
  font-size: 12px;
  line-height: 16px;
  color: $color-text-inverse;
  border: 1px solid $color-white-100;
  padding: 14px 20px;
}

.hero__detail svg {
  margin-right: 3px;
}


// Slider should be positioned relatively to contain absolute pagination
.hero__slider {
  position: relative;
}

// Pagination positioning in hero slider
.swiper-pagination.swiper-pagination.hero__pagination {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 10;

  @include desktop {
    bottom: 93px;
    left: 51%;
  }
}
