.hero {
  position: relative;
  min-height: 568px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 100px;
  }
}

// Pagination positioning in hero slider
.hero__pagination {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  @include desktop {
    bottom: 92px;
  }
}
