.icon {
  display: inline-block;
  // Размеры берутся из атрибутов width/height в HTML
  // Не задаем фиксированные размеры здесь
  color: currentColor;
  flex-shrink: 0; // Prevent icon from shrinking in flex containers (HTML2-CSS-04)
}
