// =============================================================================
// LOGO
// Логотип компании
// =============================================================================

// Используется в блоках: header, footer

.logo {
  display: block;
  width: 142px; // Фиксированная ширина из атрибутов img

  &:hover {
    // TODO: добавить hover эффект (если есть)
  }

  &:focus-visible {
   /* TODO: добавить focus эффект (если есть) */
  }

  &__image {
    // display: block уже в .page img
    width: 100%; // 100% от родителя .logo (142px)
    height: auto;
  }
}
