// =============================================================================
// LOGO
// Логотип компании
// =============================================================================

// Используется в блоках: header, footer

.logo {
  display: block;
  // TODO: добавить размеры из макета

  &:hover {
    // TODO: добавить hover эффект (если есть)
  }

  &:focus-visible {
    outline: $focus-outline;
    outline-offset: 2px;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}
