// =============================================================================
// LOGO
// Логотип компании
// =============================================================================

// Используется в блоках: header, footer

.logo {
  display: block;

  // TODO: добавить размеры из макета

  &:hover {
    // TODO: добавить hover эффект (если есть)
  }

  &:focus-visible {
   /* TODO: добавить focus эффект (если есть) */
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}
