// =============================================================================
// NAVIGATION
// Навигационное меню
// =============================================================================

// Используется в блоках: header (главное меню), footer (вторичное меню)

.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-m;
    // TODO: добавить адаптивные стили для мобильного меню
  }

  &__item {
    // TODO: добавить стили элемента списка
  }

  &__link {
    display: block;
    // TODO: добавить размеры шрифта, отступы из дизайн-системы

    &:hover {
      // TODO: добавить hover эффект
    }

    &:active {
      // TODO: добавить active эффект
    }

    &:focus-visible {
      outline: $focus-outline;
      outline-offset: 2px;
    }

    // Активная страница / текущий раздел
    &--current {
      // TODO: добавить стили для текущего раздела
    }
  }
}
