// =============================================================================
// PAGINATION (BULLETS)
// Буллеты для слайдера (Swiper pagination)
// =============================================================================

// Используется в блоке: hero
// Swiper добавляет классы .swiper-pagination и .swiper-pagination-bullet

.swiper-pagination {
  // Контейнер для буллетов
  // TODO: добавить позиционирование из макета
}

.swiper-pagination-bullet {
  // Отдельный буллет
  // TODO: добавить размер, цвет, отступы из дизайн-системы

  &:hover {
    // TODO: добавить hover эффект
  }

  &:focus-visible {
    /* TODO: добавить focus эффект (если есть) */
  }
}

// Активный буллет (текущий слайд)
.swiper-pagination-bullet-active {
  // TODO: добавить стили активного состояния
}
