// =============================================================================
// PAGINATION (BULLETS)
// Буллеты для слайдера (Swiper pagination)
// =============================================================================

// Используется в блоке: hero
// Swiper добавляет классы .swiper-pagination и .swiper-pagination-bullet

.swiper-pagination {
  // Контейнер для буллетов
  // TODO: добавить позиционирование из макета
}

.swiper-pagination-bullet {
  // Отдельный буллет
  // TODO: добавить размер, цвет, отступы из дизайн-системы

  &:hover {
    // TODO: добавить hover эффект
  }

  &:focus-visible {
    outline: $focus-outline;
    outline-offset: 2px;
  }

  &-active {
    // Активный буллет (текущий слайд)
    // TODO: добавить стили активного состояния
  }
}
