// =============================================================================
// PAGINATION (BULLETS)
// Bullets for the slider (Swiper pagination)
// =============================================================================

// Used in the block: hero
// Swiper adds classes .swiper-pagination and .swiper-pagination-bullet
// All styles are set through Swiper CSS variables

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 20px;

  // Override Swiper default CSS variables
  --swiper-theme-color: $color-bg-white;
  --swiper-pagination-color: $color-bg-white; // Active bullet color
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-horizontal-gap: 0px;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;

  @include tablet {
    --swiper-pagination-bullet-size: 20px;
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 20px;
  }

  @include desktop {
    justify-content: end;
    padding: 0 120px;
  }
}

.swiper-pagination-bullet {
  // All styles through custom properties that override Swiper defaults
  border: 1px solid $color-border-pagination;
  cursor: pointer;

  &:hover {
    background-color: $color-bg-light-gray;
  }


  &:focus-visible {
    outline: 2px solid $color-white-50;
    outline-offset: 2px;
  }

  &:active {
    background-color: $color-white-50;
  }
}

// Active bullet (current slide)
// Increase specificity to override Swiper default styles without !important
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $color-bg-white;
  border-color: $color-bg-white;
}
