// =============================================================================
// TITLE WITH DECORATION
// Заголовки секций с декоративным текстом
// =============================================================================

// Используется в блоках: tours, training, about, reviews, advantages, gallery

.title {
  // Обертка для заголовка с декорацией
  position: relative;

  // TODO: добавить стили из дизайн-системы

  &__main {
    // Основной заголовок (h2)
    // TODO: добавить типографику из design-system
  }

  &__decoration {
    // Декоративный текст (полупрозрачный, крупный)
    // ВАЖНО: должен быть скрыт от скринридеров
    // TODO: добавить позиционирование, размер, прозрачность из макета
  }
}
